<div class="hero">
    <nav class="nav">
        <img src="../../assets/s2p.png" class="logo">
    </nav>
    <div class="content">
        <h1 class="head">Welcome To <span class="span">Our World</span></h1>
        <form>
            <input type="email" placeholder="Email Address" required>
            <button type="submit" class="btn" (click)="navigateTo('/otp')">  <span class="text">Get OTP</span></button>
        </form>
    </div>
    <div class="code">
        <img src="../../assets/courses/java.png" class="img1">
        <img src="../../assets/courses/Angular.png" class="img2">
        <img src="../../assets/courses/c.png" class="img3">
        <img src="../../assets/courses/Machine-Learning.png" class="img4">
        <img src="../../assets/courses/node.png" class="img5">
        <img src="../../assets/courses/ANGULAR-JS-.png" class="img6">
    </div>
</div>
