<div class="hero">
  <nav class="nav">
    <img src="../../assets/s2p.png" class="logo" />
  </nav>
  <div class="row">
<div class="card">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="head">Sr No.</th>
                    <th class="head">Name</th>
                    <th class="head">Details</th>
                    <th class="head">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th>S2P Edutech</th>
                    <th>Ravi Nagar</th>
                    <th>pull</th>
                </tr>
                <tr>
                    <th>1</th>
                    <th>S2P Edutech</th>
                    <th>Ravi Nagar</th>
                    <th>pull</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
  </div>
</div>
