<div class="hero">
    <nav class="nav">
        <img src="../../assets/s2p.png" class="logo">
    </nav>
    <div class="content">
        <p class="head"><span class="span">OTP</span> Verification</p>
        <div class="inp">
        <input placeholder="" type="text" class="input" maxlength="1">
        <input placeholder="" type="text" class="input" maxlength="1"> 
        <input placeholder="" type="text" class="input" maxlength="1"> 
        <input placeholder="" type="text" class="input" maxlength="1"> 
        </div>
        <button (click)="navigateTo('/project')">Verify</button>
    </div>
    <div class="code">
        <img src="../../assets/otp/1.png" class="img1">
        <img src="../../assets/otp/2.png" class="img2">
        <img src="../../assets/otp/3.png" class="img3">
        <img src="../../assets/otp/4.png" class="img4">
        <img src="../../assets/otp/5.png" class="img5">
        <img src="../../assets/otp/3.png" class="img6">
    </div>
</div>